
<div class="list-item">
    <div class="list-item-top">
        <p> 18 de mar, 2022 </p>
        <img (click)="changeHeart()" src="{{ showVar ? 'assets/heart.svg' : 'assets/heart2.svg' }}" alt="">
    </div>
    <div class="list-item-text">
        <h3> Agora é oficial: o Windows 11 está vindo </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum auctor est. Nam vitae finibus ante. Duis lobortis tellus vel diam fringilla, eu ullamcorper ex iaculis. </p>
    </div>
</div>